<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General</title>
        <title lang="de-DE">Allgemein</title>
        <input-field type="int">
            <name>ViacashPaymentExpiresInDays</name>
            <label>Days until payments expire</label>
            <label lang="de-DE">Gültigkeitsdauer des Zahlscheins in Tagen</label>
            <defaultValue>14</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>ViacashLogFullBodies</name>
            <label>Log full body of every request</label>
            <label lang="de-DE">Aufrufe umfassend protokollieren</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>ViacashSendCustomerAddress</name>
            <label>Send customers address to viacash</label>
            <label lang="de-DE">Kundenadressen an Barzahlen übermitteln</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <component name="api-test-button">
            <name>apiTest</name>
            <label>Test API connection</label>
            <label lang="de-DE">API Verbindung testen</label>
            <slot lang="de-DE">API Verbindung testen.</slot>
            <content lang="de-DE">API Verbindung testen?</content>
            <caption lang="de-DE">API Verbindung testen!</caption>
            <title lang="de-DE">API Verbindung testen:</title>
        </component>
    </card>

    <card>
        <title>Division 1</title>
        <input-field type="bool">
            <name>ViacashDivision1IsSandbox</name>
            <label>Division 1 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision1Countries</name>
            <label>Division 1 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision1Id</name>
            <label>Division 1 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision1ApiKey</name>
            <label>Division 1 API-KEY</label>
        </input-field>
    </card>

    <card>
        <title>Division 2</title>
        <input-field type="bool">
            <name>ViacashDivision2IsSandbox</name>
            <label>Division 2 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision2Countries</name>
            <label>Division 2 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision2Id</name>
            <label>Division 2 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision2ApiKey</name>
            <label>Division 2 API-KEY</label>
        </input-field>
     </card>

    <card>
        <title>Division 3</title>
        <input-field type="bool">
            <name>ViacashDivision3IsSandbox</name>
            <label>Division 3 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision3Countries</name>
            <label>Division 3 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision3Id</name>
            <label>Division 3 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision3ApiKey</name>
            <label>Division 3 API-KEY</label>
        </input-field>
    </card>

    <card>
        <title>Division 4</title>
        <input-field type="bool">
            <name>ViacashDivision4IsSandbox</name>
            <label>Division 4 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision4Countries</name>
            <label>Division 4 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision4Id</name>
            <label>Division 4 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision4ApiKey</name>
            <label>Division 4 API-KEY</label>
        </input-field>
    </card>

    <card>
        <title>Division 5</title>
        <input-field type="bool">
            <name>ViacashDivision5IsSandbox</name>
            <label>Division 5 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision5Countries</name>
            <label>Division 5 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision5Id</name>
            <label>Division 5 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision5ApiKey</name>
            <label>Division 5 API-KEY</label>
        </input-field>
    </card>

    <card>
        <title>Division 6</title>
        <input-field type="bool">
            <name>ViacashDivision6IsSandbox</name>
            <label>Division 6 is a sandbox?</label>
            <label lang="de-DE">Division ist im Test-Modus?</label>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field>
            <name>ViacashDivision6Countries</name>
            <label>Division 6 countries?</label>
            <label lang="de-DE">Länderkürzel der Division</label>
        </input-field>
        <input-field>
            <name>ViacashDivision6Id</name>
            <label>Division 6 ID</label>
        </input-field>
        <input-field>
            <name>ViacashDivision6ApiKey</name>
            <label>Division 6 API-KEY</label>
        </input-field>
    </card>


</config>
